// greys
$grey5:         lighten(black, 5);
$grey10:        lighten(black, 10);
$grey20:        lighten(black, 20);
$grey30:        lighten(black, 30);
$grey40:        lighten(black, 40);
$grey50:        lighten(black, 50);
$grey60:        lighten(black, 60);
$grey70:        lighten(black, 70);
$grey80:        lighten(black, 80);
$grey90:        lighten(black, 90);
$grey95:        lighten(black, 95);

// colors
$red: #c92739;
$maroon: #741f31;
$orange: #ee532e;
$flamingo: #de188c;
$bright-pink: #ed62a3;
$pink: pink;
$kiwi-green: #a9be39;
$kelly-green: #00905e;
$forest-green: #0a6250;
$green: green;
$olive: olive;
$green-tiger-camo: #809833;
$green-tiger-camo-grey: #646C57;
$spruce: #0a6250;
$stone: #b49c7d;
$khaki: #b49c7d;
$grey: #a8aab4;
$silver: silver;
$dark-grey: $grey30;
$navy-blue: #1c3b59;
$gold: #fdc331;
$old-gold: #bf8224;
$charcoal: #8a8c8f;
$aqua-teal: #00b2ed;
$carolina-blue: #a1cdec;
$purple: #674698;
$royal-blue: #005da8;
$blue: blue;
$light-blue: lightblue;
$neon-yellow: yellow;
$neon-pink: pink;
$neon-green: #BFFF00;
$neon-fuchsia: #ed0ee7;
$natural: #F3F1DA;

$color-primary: #7fb466;
$color-primary-hover: #77a960;
$color-body: #31373d;
$color-title: #767676;
$color-border: #a5a5a5;
$color-border-primary: #79ab61;


// spacings
$spacing-small: 10;
$spacing-medium: 20;
$spacing-large: 30;
$spacing-xlarge: 50;
