.option-colors{
  .option-color{
    position: relative;
    display: inline-block;
    width: rem-calc(16);
    height: rem-calc(16);
    margin-right: rem-calc(5);
    border-radius: 50%;
    cursor: pointer;
    background-color: $grey90;

    &:before{
      content: '';
      position: absolute;
      height: inherit;
      width: 50%;
      left: 0;
      border-top-left-radius: rem-calc(16);
      border-bottom-left-radius: rem-calc(16);
    }

    &.active{
      position: relative;
      &:after{
        content: '';
        position: absolute;
        left: 50%;
        top: 50%;
        margin-top: rem-calc(-4);
        margin-left: rem-calc(-4);
        width: rem-calc(8);
        height: rem-calc(8);
        background-color: $white;
        border: 1px solid $black;
        border-radius: 50%;
      }
    }

    &.option-color__white{
      background-color: $white;
      border: 1px dashed $black;
      &.active:after{
        background-color: $black;
      }
    }
    &.option-color__black{
      background-color: $black;
    }
    &.option-color__charcoal{
      background-color: $charcoal;
    }
    &.option-color__old-gold{
      background-color: $old-gold;
    }
    &.option-color__gold{
      background-color: $gold;
    }
    &.option-color__orange{
      background-color: $orange;
    }
    &.option-color__flamingo{
      background-color: $flamingo;
    }
    &.option-color__bright-pink{
      background-color: $bright-pink;
    }
    &.option-color__pink{
      background-color: $pink;
    }
    &.option-color__aqua-teal{
      background-color: $aqua-teal;
    }
    &.option-color__royal{
      background-color: $royal-blue;
    }
    &.option-color__royal-blue{
      background-color: $royal-blue;
    }
    &.option-color__light-blue{
      background-color: $light-blue;
    }
    &.option-color__dark-navy,
    &.option-color__navy{
      background-color: $navy-blue;
    }
    &.option-color__carolina-blue{
      background-color: $carolina-blue;
    }
    &.option-color__grey,
    &.option-color__gray{
      background-color: $grey;
    }
    &.option-color__dark-grey{
      background-color: $dark-grey;
    }
    &.option-color__silver{
      background-color: $silver;
    }
    &.option-color__stone{
      background-color: $stone;
    }
    &.option-color__kelly-green{
      background-color: $kelly-green;
    }
    &.option-color__spruce{
      background-color: $spruce;
    }
    &.option-color__khaki{
      background-color: $khaki;
    }
    &.option-color__kiwi-green{
      background-color: $kiwi-green;
    }
    &.option-color__forest-green{
      background-color: $forest-green;
    }
    &.option-color__maroon{
      background-color: $maroon;
    }
    &.option-color__red{
      background-color: $red;
    }
    &.option-color__purple{
      background-color: $purple;
    }
    &.option-color__purple_gold{
      background-color: $purple;
      &:before{
        background-color: $gold;
      }
    }
    &.option-color__royal_white{
      background-color: $royal-blue;
      &:before{
        background-color: $white;
      }
    }
    &.option-color__royal_grey{
      background-color: $royal-blue;
      &:before{
        background-color: $grey;
      }
    }
    &.option-color__royal_orange{
      background-color: $royal-blue;
      &:before{
        background-color: $orange;
      }
    }
    &.option-color__neon-yellow{
      background-color: $neon-yellow;
    }
    &.option-color__neon-pink{
      background-color: $neon-pink;
    }
    &.option-color__neon-green{
      background-color: $neon-green;
    }
    &.option-color__neon-fuchsia{
      background-color: $neon-fuchsia;
    }
    &.option-color__red_white{
      background-color: $red;
      &:before{
        background-color: $white;
      }
    }
    &.option-color__navy_white{
      background-color: $navy-blue;
      &:before{
        background-color: $white;
      }
    }
    &.option-color__navy_red{
      background-color: $navy-blue;
      &:before{
        background-color: $red;
      }
    }
    &.option-color__kelly-green_white{
      background-color: $kelly-green;
      &:before{
        background-color: $white;
      }
    }
    &.option-color__natural_black{
      background-color: $natural;
      &:before{
        background-color: $black;
      }
    }
    &.option-color__natural{
      background-color: $natural;
    }
    &.option-color__green{
      background-color: $green;
    }
    &.option-color__olive{
      background-color: $olive;
    }
    &.option-color__green-tiger-camo,
    &.option-color__green-camo{
      background-color: $green-tiger-camo-grey;
      &:before{
        background-color: $green-tiger-camo;
      }
    }
    &.option-color__black_white{
      background-color: $black;
      &:before{
        background-color: $white;
      }
    }
    &.option-color__white_black{
      background-color: $white;
      &:before{
        background-color: $black;
      }
    }
    &.option-color__aqua_black{
      background-color: $aqua-teal;
      &:before{
        background-color: $black;
      }
    }
    &.option-color__black_charcoal{
      background-color: $black;
      &:before{
        background-color: $charcoal;
      }
    }
    &.option-color__black_grey{
      background-color: $black;
      &:before{
        background-color: $grey;
      }
    }
    &.option-color__black_red{
      background-color: $black;
      &:before{
        background-color: $red;
      }
    }
    &.option-color__gold_black{
      background-color: $gold;
      &:before{
        background-color: $black;
      }
    }
    &.option-color__gold_purple{
      background-color: $gold;
      &:before{
        background-color: $purple;
      }
    }
    &.option-color__grey_black{
      background-color: $grey;
      &:before{
        background-color: $black;
      }
    }
    &.option-color__grey_navy{
      background-color: $grey;
      &:before{
        background-color: $navy-blue;
      }
    }
    &.option-color__navy_grey{
      background-color: $navy-blue;
      &:before{
        background-color: $grey;
      }
    }
    &.option-color__orange_black{
      background-color: $orange;
      &:before{
        background-color: $black;
      }
    }
    &.option-color__orange_royal{
      background-color: $orange;
      &:before{
        background-color: $royal-blue;
      }
    }
    &.option-color__purple_black{
      background-color: $orange;
      &:before{
        background-color: $black;
      }
    }
    &.option-color__red_black{
      background-color: $red;
      &:before{
        background-color: $black;
      }
    }
    &.option-color__red_navy{
      background-color: $red;
      &:before{
        background-color: $navy-blue;
      }
    }
  }
}
