.collections-grid-title{
  font-size: rem-calc(16);
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
  text-shadow: 2px 2px 2px rgba($black, 0.4);
}

.collections-nav{
  .collections-nav__headline{
    text-transform: uppercase;
    color: $primary-color;
    font-weight: bold;
    margin-top: rem-calc(30);
    &:first-child{
      margin-top: 0;
    }
  }
  ul{
    margin: 0;
  }
  li{
    list-style-type: none;
  }

  .collections-nav__search{
    @include flex();
    .collections-nav__search-button{
      width: rem-calc(60);
      background-color: $primary-color;
      color: $white;
    }
  }
  input{
    margin-bottom: 0;
  }
}

.collections-grid{
  @include flex-grid-row();
  margin-bottom: rem-calc(60);

  .collection-item{
    @include flex-grid-column(6, 20);
    @include breakpoint(large){
      @include flex-grid-column(3, 20);
    }

    margin-bottom: rem-calc(20);

    .collection-item-inner{
      background-color: $white;
      padding: rem-calc(20 15 15);
      border: 1px solid $grey70;
      text-align: center;
    }

    .collection-item-title{
      color: $grey40;
      text-align: center;
      font-weight: bold;
      font-size: rem-calc(14);
      margin: rem-calc(10 0);
    }

    .collection-item-image{
      height: rem-calc(140);
      width: 100%;
      background-position: center center;
      background-size: contain;
      background-repeat: no-repeat;
      @include breakpoint(medium){
        height: rem-calc(200);
      }
    }

    .price{
      text-align: center;
      font-weight: bold;
      font-size: rem-calc(13);
    }

    .option-colors{
      text-align: center;
      height: rem-calc(80);
    }
  }
}
