.page-hat{
  #main-container{
    margin-top: rem-calc(15);
  }

  #main-container .container{
    padding: rem-calc(15);
  }

  .accordion{
    border-top: 1px solid $grey80;
    border-bottom: 1px solid $grey80;
    padding: rem-calc(5);
    color: $grey50;

    .Collapsible__trigger{
      display: block;
      position: relative;
      cursor: pointer;
      &:after{
        content: '\f0da';
        font-family: 'FontAwesome';
        position: absolute;
        right: 0;
        color: $black;
      }

      &.is-open{
        &:after{
          content: '\f0d7';
        }
      }
    }
  }

  .collection-title{
    color: $black;
    font-weight: bold;
    font-size: rem-calc(30);
    margin-bottom: rem-calc(5);

    @include breakpoint(large){
      text-transform: uppercase;
      color: $grey40;
      margin-bottom: rem-calc(15);
    }
  }

  .collection-info{
    // product styles
    .product-style{
      @include flex();
      margin-bottom: rem-calc(15);
      .product-style__button{
        background-color: $primary-color;
        width: rem-calc(60);
        color: $white;
        font-size: rem-calc(26);
      }
      input{
        margin-bottom: 0;
      }
    }

    // product sizes
    .product-sizes{
      @include flex();
      justify-content: space-between;
      list-style-type: none;
      margin: 0 0 rem-calc(15) 0;
      .product-size{
        flex-basis: auto;
        border: 1px solid $grey70;
        padding: rem-calc(5 10);
        cursor: pointer;
        &:hover{
          background-color: $grey90;
        }
        &.selected{
          background-color: $grey70;
        }
      }
    }

    // product price
    .product-price{
      color: $primary-color;
      font-size: rem-calc(25);
      font-weight: bold;
      margin-bottom: rem-calc(15);
      margin-top: rem-calc(25);
      text-align: center;
      @include breakpoint(large){
        text-align: left;
      }
    }

    .charities-wrapper{
      margin-bottom: rem-calc(15);
      .charities{
        .charity{
          display: flex;
          color: $grey40;
          text-transform: uppercase;
          cursor: pointer;
          font-size: rem-calc(12);
          margin-bottom: rem-calc(5);
          &:before{
            content: '';
            display: inline-block;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            border: 1px solid $grey40;
            margin-right: rem-calc(8);
          }
          &.active{
            color: $black;
            &:before{
              border: 1px solid $grey50;
              background-color: $grey50;
            }
          }
        }
      }
    }
  }

  .description{
    margin-bottom: rem-calc(30);
    ul{
      list-style-position: outside;
    }
  }

  .products{
    margin-bottom: rem-calc(30);
    .option-colors{
      padding-left: rem-calc(45);
      background: url('/images/hat-icon.png') 0 center no-repeat;
    }
  }

  .product-options{
    width: rem-calc(150);
    margin-bottom: rem-calc(15);
  }

  .emblem-colors{
    margin-bottom: rem-calc(30);
    .option-colors{
      padding-left: rem-calc(45);
      background: url('/images/wishbone-icon.png') 0 center no-repeat;
    }
  }

  .collection__subheadline{
    font-weight: bold;
    color: $grey40;
    font-size: rem-calc(13);

    &.error{
      position: relative;
      &:before{
        content: 'x';
        position: absolute;
        margin-left: rem-calc(-20);
        font-size: rem-calc(25);
        top: rem-calc(-10);
        color: $red;
      }
    }
  }

  .active-product-image{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    .loader{
      position: absolute;
      z-index: 999;
      color: $white;
      min-height: auto;
      height: rem-calc(100);
      width: rem-calc(100);
      background-color: rgba($black, 0.5);
      border-radius: rem-calc(10);
      @include breakpoint(small down){
        position: fixed;
        left: 40%;
      }
    }
  }

  .add-to-cart-wrapper{
    text-align: center;
    @include breakpoint(large){
      text-align: left;
    }
  }

  .payment-method-icons{
    list-style-type: none;
    margin: 0;
    display: flex;
    justify-content: center;
    @include breakpoint(large){
      justify-content: flex-start;
    }

    li{
      margin-right: rem-calc(15);
      font-size: rem-calc(20);
      &:last-child{
        margin-right: 0;
      }
      i{
        color: $grey70;
      }
    }
  }

  .error-msg{
    color: $red;
    font-weight: bold;
    display: none;
    text-align: center;
    &.active{
      display: block;
      padding-bottom: rem-calc(20);
    }

    @include breakpoint(large){
      text-align: left;
    }
  }
}
